.main-container {
  text-align: center;
  padding-top: 40px;
  color: rgb(2, 2, 2);
}

.title {
  font-size: 42px;
  font-weight: bold;
}

.state-title {
  font-size: 28px;
  margin-top: 25px;
  font-weight: bold;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 35px;
}

.card {
  width: 270px;
  background: white;
  color: black;
  border-radius: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
  transition: 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
